<!-- Inicio do formulario -->
<div class="container-fluid">
  <div class="row mt-3 justify-content-md-center">
    <div class="col-sm-12 col-md-6">
    <input onkeyup="buscarCep()" class="form-control" type="text" id="cep" placeholder="Digite seu Cep...."maxlength="9" />
    </div>
  </div>
  <div class="row mt-3 justify-content-md-center">
    <div class="col-sm-12 col-md-6">
    <input class="form-control" type="text" id="logradouro" placeholder="Rua..." readonly  />
    </div>
  </div>
  <div class="row mt-3 justify-content-md-center">
    <div class="col-sm-12 col-md-6">
    <input class="form-control" type="text" id="bairro" placeholder="Bairro..." readonly  />
    </div>
  </div>
  <div class="row mt-3 justify-content-md-center">
    <div class="col-sm-12 col-md-6">
    <input class="form-control" type="text" id="localidade" placeholder="Cidade..." readonly  />
    </div>
  </div>
  <div class="row mt-3 justify-content-md-center">
    <div class="col-sm-12 col-md-6">
    <input class="form-control" type="text" id="uf" placeholder="UF..." readonly  />
    </div>
  </div>
  <div class="row mt-3 d-flex justify-content-center w-50"> 
    <div class="btnform"><button class="btn btn-dark" onclick="limpar()">Limpar Formulário</button></div>
  </div>
</div>